* {
    border-radius: 0 !important;
  }

html, body {
	height: 100%;
	width: 100%;
}

body {
	/* background: url("images/luca-laurence-547660-unsplash.jpg") top center, url("images/bg-repeater.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat, repeat;
	background-color: #333A40; */
    color: #E0E0E0;
    font-weight: 300;
}

.hover-reduce {
    transform: scale(0.9);
    transition: transform ease-in 0.1s;
}

div.stretchy-wrapper > div {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

div.stretchy-wrapper {
	width: 100%;
    position: relative;
}

div.stretchy-wrapper.ar-test {
    padding-bottom: 17.5%;
}

div.stretchy-wrapper.ar-3-2 {
	padding-bottom: 66.66%;
}

div.stretchy-wrapper.ar-4-3 {
	padding-bottom: 75%;
}

div.stretchy-wrapper.ar-1-1 {
	padding-bottom: 90%;
}

div.stretchy-wrapper div.img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card-img-top.article-in-progress-img {
    object-fit: fill !important;
    width: 100%;
    height: 100%;
}

.text-sm::placeholder {
    font-size: .9rem;
}

.input-focus:focus {
    border: 1px solid #E0E0E0 !important; 
    background-color: #ffffff !important;
    color: #333A40;
    outline: 0;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.1rem  rgba(224, 224, 224, 0.5) !important;
    transition: box-shadow 0.1s linear;
}

div.container.container-slim {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 576px) {
    div.container.container-slim {
      max-width: 300px;
    }
  }
  
  @media (min-width: 576px) {
    div.container.container-slim {
      max-width: 520px;
    }
  }
  
  @media (min-width: 768px) {
    div.container.container-slim {
      max-width: 700px;
    }
  }
  
  @media (min-width: 992px) {
    div.container.container-slim {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    div.container.container-slim {
      max-width: 950px;
    }
  }

section.jumbotron {
	background-color: rgba(255,255,255,0);
}

div.app-body {
	color: rgb(12, 20, 20);
	overflow-x: auto;
	margin-bottom: 10px
}

div.app-body::-webkit-scrollbar {
	display: none;
}

div.top-level-row {
	margin: 15px 0;
}

div.app-col {
	padding: 10px;
	background: rgba(128,128,128,0.5);
}

div.card-transparent {
	background-color: rgba(255,255,240,0);
}

div.card.app-card {
	min-height: 150px;
	min-width: 348px;
}

div.card-body {
    padding: 0.75rem;
    width: 100%;
    height: 100%;
}

p.card-text {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
	min-height: 48px;
	width: 320px
}

button.btn.btn-outline-success.btn-circle-xl.btn-add-component {
	opacity: 1;
}

button.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

button.btn-sm {
	opacity: 0.7;
	margin-left: 4px;
}

button.btn-link {
	color: rgb(12, 20, 20);
	font-size: 1.25rem
}

button.btn-link:hover {
	color: rgb(12, 20, 20);
	font-size: 1.25rem
}

button.btn.btn-sm.btn-point-add {
	padding: 0.25rem 0.5rem;
}

.nav-link.text-light-grey:hover {
    color: #ffffff !important;
}