<% include ../partials/header %>
<% include ../partials/articles/header-show-end %>

        <div class="container-fluid px-0">
            <section class="bg-teal">
                <div class="container container-slim">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <!-- <div class="stretchy-wrapper ar-test"> -->
                                <div class="card border-light-grey bg-teal mb-3">
                                    <div id="thesisCardBody" class="card-body text-center lead p-2" contenteditable="true">
                                       <%= article.thesis %>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div id="tabRow" class="row">
                        <div class="col-6 m-0 p-0">
                            <div id="planTab" class="card app-tab active">
                                <div class="card-body pr-2 py-2 text-right text-dark-grey">Plan</div>
                            </div>
                        </div>
                        <div class="col-6 m-0 p-0">
                            <div id="writeTab" class="card app-tab">
                                <div class="card-body pl-2 py-2 text-left text-dark-grey">Write</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="appBody">
                <div class="container container-slim p-0 bg-white">
                    <!-- first app row -->
                    <div id="appRow-1" class="row app-row active">
                        <div class="col-1 app-row-number text-center">
                            I
                        </div>
                        <!-- inner row for paragraph cards -->
                        <div class="col-10 p-0">
                            <div class="row m-0">
                                <!-- initial card -->
                                <div class='col-4 col-app-card'>
                                    <div class="card card-component-standard active">
                                        <div class="card-body p-2">
                                            <div class="row">
                                                <div class="col-10 d-stretch pr-0">
                                                    <h6 class="card-title my-1 editable" contenteditable="true">First Paragraph</h6>
                                                    <div class="card-text mb-1 editable" contenteditable="true">
                                                        Write a simple sentence to describe the main point of this paragraph
                                                    </div>
                                                </div>
                                                <div class="col-2 pl-0 text-center" style="padding-right: 10px">
                                                    <
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card-add-button col -->
                                <div class="col-4 col-add-button">
                                    <div class="card add-button">
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <a href="#" class="card-add-button"><i class="fas fa-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 p-0"></div>
                    </div>
                    <!-- row for row-add-button -->
                    <div class="row app-row">
                        <div class="col-1 row-add-button align-items-center justify-content-center pr-0">
                            <div class="card add-button row-add-button">
                                <div class="card-body d-flex align-items-center justify-content-center">
                                    <a href="#"><i class="fas fa-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="appBottomPadding" class="row bg-white mx-0"></div>
                </div>
            </section>
            <section id="footerSection">
            </section>
        </div>

        <% include ../partials/cdns %>

        <script src="js/data/cards.js"></script>	
        <script src="js/articles/data.js"></script>	
        <script src="js/articles/components.js"></script>	
        <script src="js/articles/load.js"></script>

<% include ../partials/footer %>