<% include partials/header %>

<div class="jumbotron bg-teal text-off-white">
    <h1 class="display-4">Error!</h1>
    <p class="lead"><%= errorMessage %></p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" href="javascript:history.back()" role="button">Go Back</a>
    </p>
</div>

<% include partials/footer %>