<% include partials/header_form_page %>

<div class="container">
    <div class="row flex-row align-items-center justify-content-center">
        <div class="col-4 align-items-center justify-content-center">
            <div class="container">
                <div class="card">
                    <div class="card-title">Login</div>
                    <div class="card-text">
                        <form action="/login" method="POST">
                            <input type="text" class="form-control no-bottom" name="username" placeholder="Username">
                            <input type="password" class="form-control no-bottom" name="password" placeholder="Password">
                            <button class="btn btn-secondary btn-block" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <a href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>