* {
    border-radius: 0 !important;
  }

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: url("images/luca-laurence-547660-unsplash.jpg") top center, url("images/bg-repeater.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat, repeat;
	background-color: #333A40;
    color: ivory;
    font-weight: 300;
}

div.article-starter-row {
	overflow-x: auto;
}

/* styles for article index page */
div.article-starter-card {
    border: 1px solid #E0E0E0 !important;
    line-height: 1.4;
}

div.article-starter-card:hover {
    border: 2px solid #45818E !important;
    /* font-size: 112.5% !important; */
    transition: border 0.1s linear !important;
}

div.article-in-progress-card {
    border: 2px solid #333A40 !important;
    /* width: 226.55px; */
}

div.article-in-progress-card:hover {
    border: 2px solid #45818E !important;
    /* font-size: 112.5% !important; */
    transition: border 0.1s linear !important;
}

a.linky-card,
a.linky-card:hover,
a.linky-card:active,
a.linky-card:visited,
a.linky-card:focus,
a.linky-card:link {
    /* display: block; */
    width: 100%;
    height: 100%;
    color: none !important;
    text-decoration: none !important;
}

div.card-subtitle small.text-muted {
    padding-top: -0.5rem;
}

div.card-subtitle {
    line-height: 1.2;
}

.i-xl {
    font-size: 5.75rem;
}

i.fas.fa-search {
    font-size: 1.25rem;
    color: #6c757d;
}

i.i-md {
    font-size: 1.5rem
}

i.i-sm {
    font-size: 1.25rem;
}

div.stretchy-wrapper > div {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

div.stretchy-wrapper.ar-3-2 {
	width: 100%;
	padding-bottom: 66.66%; /* 3:2 */
    position: relative;
}

div.stretchy-wrapper.ar-4-3 {
	width: 100%;
	padding-bottom: 75%; /* 4:3 */
    position: relative;
}

div.stretchy-wrapper.ar-1-1 {
	width: 100%;
	padding-bottom: 90%; /* 1:1 */
    position: relative;
}

div.stretchy-wrapper div.img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card-img-top.article-in-progress-img {
    object-fit: fill !important;
    width: 100%;
    height: 100%;
}

.text-sm::placeholder {
    font-size: .9rem;
}

.input-focus:focus {
    border: 1px solid #E0E0E0 !important; 
    background-color: #ffffff !important;
    color: #333A40;
    /* border-color: #E0E0E0 !important; */
    outline: 0;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.1rem  rgba(224, 224, 224, 0.5) !important;
    transition: box-shadow 0.1s linear;
}

div.container.container-slim {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 576px) {
    div.container.container-slim {
      max-width: 300px;
    }
  }
  
  @media (min-width: 576px) {
    div.container.container-slim {
      max-width: 520px;
    }
  }
  
  @media (min-width: 768px) {
    div.container.container-slim {
      max-width: 700px;
    }
  }
  
  @media (min-width: 992px) {
    div.container.container-slim {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    div.container.container-slim {
      max-width: 950px;
    }
  }

section.jumbotron {
	background-color: rgba(255,255,255,0);
}

div.app-body {
	color: rgb(12, 20, 20);
	overflow-x: auto;
	margin-bottom: 10px
}

div.app-body::-webkit-scrollbar {
	display: none;
}

div.top-level-row {
	margin: 15px 0;
}

div.app-col {
	padding: 10px;
	background: rgba(128,128,128,0.5);
}

/* div.card {
    background-color: ivory;
    background-color: #fff;
	opacity: 0.8;
	border-radius: 0rem;
} */

div.card-transparent {
	background-color: rgba(255,255,240,0);
}

div.card.app-card {
	min-height: 150px;
	min-width: 348px;
}

div.card-body {
    padding: 0.75rem;
    width: 100%;
    height: 100%;
}

p.card-text {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
	min-height: 48px;
	width: 320px
}

button.btn.btn-outline-success.btn-circle-xl.btn-add-component {
	opacity: 1;
}

button.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

button.btn-sm {
	opacity: 0.7;
	margin-left: 4px;
	/* margin-right: 4px */
}

button.btn-link {
	color: rgb(12, 20, 20);
	font-size: 1.25rem
}

button.btn-link:hover {
	color: rgb(12, 20, 20);
	font-size: 1.25rem
}

button.btn.btn-sm.btn-point-add {
	padding: 0.25rem 0.5rem;
}

.nav-link.text-light-grey:hover {
    color: #ffffff !important;
}

.border-none {
    border: none;
}

.bg-dark-grey {
    background-color: #333A40 !important;
}

.bg-light-grey {
    background-color: #E0E0E0 !important;
}

.bg-off-white {
    background-color: #EFEFEF !important;
}

.text-light-grey {
    color: #E0E0E0 !important;
}

.text-off-white {
    color: #EFEFEF;
}

.text-dark-grey {
    color: #333A40 !important;
}

.text-teal {
    color: #45818E !important;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
 }

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
 }

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}