body {
	background: url("images/luca-laurence-547660-unsplash.jpg") top center, url("images/bg-repeater.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat, repeat;
	color: antiquewhite;
}

button.btn-sm {
	opacity: 0.7;
	margin-left: 4px;
	margin-right: 4px
}

/* button.btn.btn-outline-danger {
	color: rgb(196, 87, 87);
	border-color: rgb(196, 87, 87)
} */

div.container.app-body {
	color: rgb(12, 20, 20);
}

div.app-column {
	padding-right: 10px;
	padding-left: 10px;
}

button.btn-link {
	color: rgb(12, 20, 20);
	font-size: 1.25rem
}

button.btn-link:hover {
	color: rgb(12, 20, 20);
	font-size: 1.25rem
}

div.card {
	background-color: antiquewhite;
	opacity: 0.8;
	border-radius: 0rem;
}

div.card-body {
	padding: 0.75rem
}

p.card-text {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

button.btn.btn-sm.btn-point-add {
	padding: 0.25rem 0.5rem;
}

section.jumbotron {
	background-color: rgba(255,255,255,0);
}

nav#navbar {
	background-color: #141B1E;
	color: antiquewhite;
}
